<h1>PC Builder</h1>

<h2>Browse Categories</h2>
<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>Category</th>
    <th>Selected Parts</th>
    <th>Actions</th>
  </tr>

  <% @categories.each do |name, klass| %>
    <tr>
      <td><strong><%= name %></strong></td>
      <td>
        <% if @sample_parts[name].any? %>
          <ul>
            <% @sample_parts[name].each do |part| %>
              <li><%= link_to "#{part.brand} #{part.name}", part_path(part) %></li>
            <% end %>
          </ul>
        <% else %>
          <em>No parts available</em>
        <% end %>
      </td>
      <td>
      <% index_path_helper = "#{name.downcase.pluralize}_path" %>
      <%= link_to "View All", send(index_path_helper) %>
      </td>
    </tr>
  <% end %>
</table>

